.bg-color{
    background: #1c2020;
    color: white;
}
.custom-nav-link{
    color: white;
    font-family: 'Horizon', sans-serif;

}

.bg-color :hover{

color: green;

}

.custom-nav-link :active{

color: green;
}